.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizonal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
}

//Action
.action {
    display: flex;
    align-items: center;
}
.action-btn {
    margin-left: 16px;
    padding: 1px 3px;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
}
.avatar-user {
    margin-left: 24px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}
.more-btn {
    margin-left: 28px;
    font-size: 2rem;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}
